body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px
}

.paint-modes {
    margin-bottom: 20px;
}

.square-container {
    display: flex;
    gap: 0px;
}