body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px
}

.paint-modes {
    margin-bottom: 15px;
}

.square-container {
    display: flex;
    gap: 0px;

}

form {
    margin-bottom: 2px;
}

.alert {
    margin-top: 5px;
    font-size: small;
    text-align: center;
}

#square-size {
    width: 25px;
}